body{
 display:grid;
background-color: #778899;
justify-content: center;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
.main-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #6a7a89;
  align-items: center;
  border-radius: 5px;
  min-width: 800px;
}
.login-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}
.login-form input{
  margin-block: 10px;
}
.login-email-container{
  position: relative;
}
.login-email-container p{
  position: absolute;
  margin-top: -5px;
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  z-index: 1;
}
.login-email-container input {
  border-radius: 3px;
  z-index: 0;
  background-color: beige;
}
.login-password-container{
  position: relative;
}
.login-password-container p{
  position: absolute;
  margin-top: -5px;
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  z-index: 1;
}
.login-password-container input {
  border-radius: 4px;
  z-index: 0;
  background-color: beige;
}